@model Uplift.Models.Service
@using Uplift.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using Uplift.Extensions

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container backgroundWhite">
    <div class="card">
        <div class="card-header bg-light text-light ml-0 row container">
            <div class="col-12 col-md-6">
                <h1 class="text-primary">@Model.Name</h1>
            </div>
            <div class="col-12 col-md-6 text-md-right">
                <h1 class="text-muted">Total : @((Model.Price * Model.Frequency.FrequencyCount).ToString("c"))</h1>
            </div>
        </div>
        <div class="card-body">
            <div class="container rounded p-2">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="text-success">Price per Service: $@Model.Price</h3>
                                <h4 class="text-muted">@Model.Frequency.Name</h4>
                                <p class="text-secondary">@Html.Raw(Model.LongDesc)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 text-center">
                        <img src="@Model.ImageUrl" width="100%" class="rounded" />
                    </div>

                </div>

            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12 col-md-6 pb-1">
                    <a asp-action="Index" class="btn btn-success form-control  btn-square btn-lg" style="height:50px;">Back to List</a>
                </div>
                <div class="col-12 col-md-6 pb-1">
                    @{
                        var AddToCartEnabled = true;

                        if (HttpContextAccessor.HttpContext.Session.GetObject<List<int>>(SD.SessionCart) != null)
                        {
                            var sessionList = HttpContextAccessor.HttpContext.Session.GetObject<List<int>>(SD.SessionCart);
                            if (sessionList.Contains(Model.Id))
                            {
                                AddToCartEnabled = false;
                            }
                        }
                    }

                    @if (AddToCartEnabled)
                    {
                        <a asp-action="AddToCart" asp-route-serviceId="@Model.Id" class="btn btn-primary btn-square form-control btn-lg" style="height:50px;">Add to Cart</a>
                    }
                    else
                    {
                        <button class="btn btn-primary btn-square form-control btn-lg" style="height:50px;" disabled>Item in Cart</button>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
